---
import type { CollectionEntry } from "astro:content";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";
import { SITE_TITLE } from "@/consts";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={`${title} - ${SITE_TITLE}`}>
  <Header />
  <main class="py-8 w-full">
    <article>
      <div class="w-full rounded-full">
        {
          heroImage && (
            <img
              class="px-4 block mx-auto rounded-[2.5rem] drop-shadow-xl lg:max-w-5xl"
              src={heroImage}
              alt=""
              transition:name={`${title}-heroImage`}
            />
          )
        }
      </div>
      <div class="prose mx-auto p-4 text-secondary max-w-screen-md">
        <div class="mb-4 mt-2 text-center leading-none">
          <div class="text-gray-500 text-lg mb-2">
            <FormattedDate date={pubDate} transition:name={`${title}-pubDate`} />
            {
              updatedDate && (
                <div class="italic">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1 class="text-4xl text-secondary mb-4">{title}</h1>
          <hr class="border-gray-600 my-8" />
        </div>
        <div
          class:list={[
            "prose prose-slate text-secondary text-lg md:text-base md:max-w-full mx-auto",
            // Headings
            "prose-headings:text-secondary",
            // Code
            "prose-code:text-orange-400",
            // Image
            "prose-img:rounded-lg prose-img:shadow-md prose-img:shadow-orange-500",
            // Blockquote
            "prose-blockquote:text-orange-200",
            // Strong
            "prose-strong:text-secondary",
            // Link (a)
            "prose-a:text-orange-400 hover:prose-a:text-orange-600 prose-a:transition-colors",
          ]}
        >
          <slot />
        </div>
      </div>
    </article>
  </main>
</Layout>
